::ng-deep .mat-dialog-container {
    background: #FFFFFF;
    color: #14213D;
    text-align: center;
}
.tilte-dialog{
    margin-top: 3%;
    font-weight: 500;
    font-size: 30px;
}

.mat-focused{
    width: 44%;
}
.button-dialog{
    margin: 9px;
    color: #FFFFFF;
    background-color: #14213D;
    border-radius: 5px;
    width: 41%;
    height: 40px;
    }





