<mat-dialog-content>
    <mat-label>
        <h1 class="tilte-dialog">¿Cuantas CyptoWallet quiere Vender?</h1>
    </mat-label>
    <div>
        <mat-label>
            <h3>Deposito: {{data.deposit}}€</h3>
        </mat-label>
        <mat-form-field appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" [(ngModel)]="amount" placeholder="0">
        </mat-form-field>
    </div>
</mat-dialog-content>
 <div>
    <button mat-button class="button-dialog" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="button-dialog" (click)="onSubibmit()" cdkFocusInitial>Aceptar</button>
</div>