.container-img {
  width: 100%;
  height: 93.4%;
  background-image: url("../../../../assets/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: local;
}
.toolbar-spacer {
  flex: 1 auto;
}
.detail-user{
  margin-left: 25%;
}
.tilte {
  margin-left: 6%;
  font-size: 35px;
}

.main-body {
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
  max-width: 60%;
  mat-form-field,
  .container-table {
    width: 100%;
  }
}

::ng-deep .mat-form-field-infix {
  background: #fff;
}

table.mat-table {
  text-align: center;
  width: 100%;
}

::ng-deep .mat-sort-header-content {
  margin-left: 76px;
  text-align: left;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
}
.buttonBuy{
    margin: 9px;
    color: #FFFFFF;
    background-color: #14213D;
    border-radius: 5px; 
    height: 40px; 
}
