<div class="container" >
    <div>
        <h1>¿ Cuantas Cryptowallet desea comprar ?</h1>
    </div>
    <div class="juntar">
        <h3 class="deposito">Deposito:</h3>
        <div class="row"></div>
        <h3 class="total">Total de monedas:</h3>
        <input type="number" class="form-control" placeholder="cantidad">
    </div>
</div>
<div>
    <button mat-button class="button-dialog" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="button-dialog" cdkFocusInitial>Aceptar</button>
</div>

  
  
 