
.mat-card {
  background: transparent;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 0px 0px;
}
.container-img {
  width: 100%;
  height: 100%;
  background-image: url("../../../../assets/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: local;
}
.container-login{
  margin-left: 40%;
  width: 20%;
  border-radius: 40px;
}

.imglogin {
  width: 90%;
  margin-top: 30%;
}

.button-login {
  height: 50px;
  width: 100%;
  background-color: #fff;
}
:hover {
  background-color: transparent;
}


.container-register{ 
  width: 40%;
  border-radius: 40px;
  height: auto;
}
.imgRegister{
  width: 40%;
  margin-left: 25%;
  margin-top: 5%;
}
.button-from {
  margin-left: 22%;
  height: 45px;
  width: 48%;
  background-color: #fff;
}
.alert{
  margin-bottom: 0px;
  color: red;
  height: 55px;
  margin-top: 13px;
}
.loading{
  margin-left: 40%;
  padding-top: 20%;
}